/////////Integer//////////
<div class="form-group form-material ">
    <label class="form-control-label" for="inputInt-[field]">[Title]</label>
    <input type="number" class="form-control" id="inputInt-[field]" name="[field]" value="[value]" autocomplete="off">
</div>

/////////Float//////////
<div class="form-group form-material ">
    <label class="form-control-label" for="inputFloat-[field]">[Title]</label>
    <input type="number" class="form-control" id="inputFloat-[field]" name="[field]" value="[value]" autocomplete="off">
</div>

/////////String//////////
<div class="form-group form-material ">
    <label class="form-control-label" for="inputString-[field]">[Title]</label>
    <input type="text" class="form-control" id="inputString-[field]" name="[field]" value="[value]" autocomplete="off">
</div>

/////////Bolean//////////
<div class="form-group form-material ">
    <label class="form-control-label" for="inputBoolean-[field]">[Title]</label>
    <select class="form-control" id="inputBoolean-[field]" name="[field]">
        <option value="true" >choose value</option>
        <option value="true" >True</option>
        <option value="false" >False</option>
    </select>
</div>

/////////Date//////////
<div class="form-group form-material ">
    <label class="form-control-label" for="inputDate-[field]">[Title]</label>
    <input type="text" class="form-control" data-plugin="datepicker" id="inputDate-[field]" name="[field]" value="[value]" autocomplete="off">
</div>

/////////Time//////////
<div class="form-group form-material ">
    <label class="form-control-label" for="inputDate-[field]">[Title]</label>
    <input type="text" class="form-control" data-plugin="clockpicker" data-autoclose="true"  id="inputDate-[field]" name="[field]" value="[value]" autocomplete="off">
</div>

/////////Date Time//////////
<div class="form-group form-material ">
    <label class="form-control-label" for="inputDate-[field]">[Title]</label>
    <div class="form-group form-material row">
        <div class="col-6">
            <input type="text" class="form-control" data-plugin="datepicker" id="inputDate-[field]-date" name="[field]" value="[value]" autocomplete="off">
        </div>
        <div class="col-6">
            <input type="text" class="form-control " data-plugin="clockpicker" id="inputDate-[field]-time" name="[field]" value="[value]" autocomplete="off">
        </div>
    </div>
</div>